{{> navbar}}
<br />

<h1>REGISTRO</h1>
<form method="post" action="/api/auth/signup">
    <input placeholder="user" name="username" />
    <input placeholder="pas" name="password" />
    <input type="submit" value="Vamo!" />
</form>
<a href="/api/auth/login">Ir a login</a>

<br />
{{> footer}}
<br />